.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/jarRepositories.xml
.idea/encodings.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources/05c21e69-114c-43d2-a6fd-198874ed3055.xml
.idea/dataSources/05c21e69-114c-43d2-a6fd-198874ed3055/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/05c21e69-114c-43d2-a6fd-198874ed3055/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/dataSources/05c21e69-114c-43d2-a6fd-198874ed3055/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/05c21e69-114c-43d2-a6fd-198874ed3055/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/inspectionProfiles/Project_Default.xml
.application-dev.yml
.env
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/

### Mac OS ###
.DS_Store
.env

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.env

# Ignore all .github directory
/push-images.sh