<h2 mat-dialog-title class="title">Update Invoice</h2>
<div mat-dialog-content>
  <form #updateForm="ngForm">
    <!-- Id Field (readonly) -->
    <mat-form-field class="full-width" hidden="true">
      <input matInput name="id" placeholder="ID" [ngModel]="invoice?.id" />
    </mat-form-field>

    <!-- Amount Field -->
    <mat-form-field class="full-width">
      <input
        matInput
        name="amount"
        placeholder="Amount"
        [ngModel]="invoice?.amount"
        (ngModelChange)="invoice.amount = $event"
        required
      />
    </mat-form-field>

    <!-- Due Date Field -->
    <mat-form-field class="full-width">
      <input
        matInput
        name="dueDate"
        placeholder="Due Date"
        [ngModel]="invoice?.dueDate| date : 'yyyy-MM-dd HH:mm:ss'"
        (ngModelChange)="invoice.dueDate = $event"
      />
    </mat-form-field>

    <!-- Paid Field -->
    <mat-form-field class="full-width">
      <input
        matInput
        name="paid"
        placeholder="Paid"
        [ngModel]="invoice?.paymentStatus"
        (ngModelChange)="invoice.paymentStatus = $event"
      />
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button
    mat-button
    color="primary"
    [disabled]="updateForm.invalid"
    (click)="onUpdateClick()"
  >
    Update
  </button>
</div>
