.mat-elevation-z8 {
    width: 50px;
    height: auto;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: rgb(11, 12, 12);
  }
  
  .user-heading {
    color: #0f1614;
    font-size: large;
    text-align: center;
    font: 1em sans-serif bold;
  }