<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>
<body>
<!-- authorization.component.html -->
<h2>Authorization Settings</h2>
<div class="form-group">
  <label for="roleName">Role Name</label>
  <select class="form-control" id="roleName" [(ngModel)]="selectedRole" name="roleName">
    <option value="ROLE_USER">ROLE_USER</option>
    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
    <option value="ROLE_MANAGER">ROLE_MANAGER</option>
    <option value="ROLE_SYSADMIN">ROLE_SYSADMIN</option>
  </select>
</div>
<div *ngFor="let rolePermission of rolePermissions">
  <h3>Role: {{ rolePermission.role }}</h3>
  <ul>
    <li *ngFor="let permission of rolePermission.permission">{{ permission }}</li>
  </ul>
</div>
<button (click)="updateRole()" type="button" class="btn btn-primary">Update</button>


</body>
</html>