<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Details</title>
  </head>
  <body>
    <div class="customer-container">
      <div class="customer-info">
        <h1 class="heading">Customer Information</h1>
        <p><strong>Id:</strong> {{ customer?.id }}</p>
        <p><strong>Name:</strong> {{ customer?.user.firstName }}</p>
        <p><strong>Address:</strong> {{ customer?.user.address }}</p>
        <p><strong>City:</strong> {{ customer?.city }}</p>
        <p><strong>State:</strong> {{ customer?.state }}</p>
        <p><strong>Zip Code:</strong> {{ customer?.zipCode }}</p>
      </div>
      <div class="customer-image">
        <img [src]="customer?.user.imageUrl" alt="User Image" />
      </div>
    </div>
    <div class="customer-related">
      <div class="tabs">
        <div class="tab" (click)="selectTab('invoices')">Invoices</div>
        <div class="tab" (click)="selectTab('prescriptions')">Prescriptions</div>
        <div class="tab" (click)="selectTab('medications')">Medications</div>
      </div>
      <div class="tab-content">
        <div *ngIf="selectedTab === 'invoices'">
          <h2>Invoices</h2>
          <app-customer-invoice 
          [invoices]="invoices">
          </app-customer-invoice>
        </div>
        <div *ngIf="selectedTab === 'prescriptions'">
          <h2>Prescriptions</h2>
          <app-customer-prescriptions
            [prescriptions]="prescriptions"
          ></app-customer-prescriptions>
        </div>
        <div *ngIf="selectedTab === 'medications'">
          <h2>Medications</h2>
          <app-customer-medications
            [medications]="medications"
          ></app-customer-medications>
        </div>
      </div>
    </div>
  </body>
</html>
