.medications-container {
    padding: 20px;
  
    h2 {
      font-size: 2em;
      font-weight: bold;
      color: #2e8b57; /* SeaGreen */
      margin-bottom: 20px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  }
  