body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.uploading {
  pointer-events: none; /* Disable clicking while uploading */
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.container {
  margin-top: 20px;
}

.profile-image-container {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.upload-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.upload-icon i {
  font-size: 24px;
}

.nav-link {
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.active .nav-link {
  color: #007bff;
}

.activity-logs-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-top: 20px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
}
