.home-container {
  text-align: center;
}

.logo {
  width: 250px;
  height: 250px;
  margin-top: 20px;
}

.slideshow-container {
  position: relative;
  overflow: hidden;
}
.slide {
  display: flex;
  width: 100%;
  animation: slide 4s ease-in-out infinite;
}

.image {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

@keyframes slide {
  0%, 100% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
}

.typed {
  font-size: 18px;
  margin-top: 20px;
  color: rgb(60, 163, 149);
  font-weight: 700;
}
