body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  margin-top: -51px;
  padding: 0;
  background-color: #f4f4f4; 
  color: #333; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#hero {
  background-color: #1c2331; 
  color: #61dafb; 
  padding: 50px 0;
}

.logo {
  width: 150px;
  height: auto;
}

.typed {
  font-size: 1.5em;
  margin-top: 20px;
}

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.box {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.box-icon {
  font-size: -1em;
  margin-bottom: 10px;
}

.box-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.box-heading {
  font-size: -1em;
  font-weight: bold;
}

.box-data {
  font-size: 1em;
}

.customer-box {
  background-color: #45aaf2; /* Light Blue */
}

.invoice-box {
  background-color: #f39c12; /* Orange */
}

.total-billed-box {
  background-color: #2ecc71; /* Green */
}
