<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<body>
     <!-- Image  -->
     <section id="image">
        <div class="image">
        </div>
        <div class="image-container" data-aos="fade-in">
          <p>
            Hi, 
            <span
              class="typed"
              data-typed-items=" Welcome to Pharmacy App "
            ></span>
          </p>
        </div>
      </section>
</body>
</html>
