<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>User Verification</title>
</head>
<body>
<div>
    <h2>User Verification</h2>
    <img src="https://thabisomatsba.netlify.app/assets/images/PharmacyApp.png" alt="Pharmacy App Logo" class="logo" style="width: 200px; margin-bottom: 10px;" />
    <p th:text="${message}">Your account has been successfully verified. You can now proceed to login.</p>
    <a th:href="@{/login}">Login</a>
</div>
</body>
</html>
