<nav class="navbar navbar-expand-lg fixed-top" *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="assets/images/PharmacyApp.png" alt="Logo-Image" width="90" height="94" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center nav-underline" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 align-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">
            <mat-icon>home</mat-icon>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer">
            <mat-icon>people</mat-icon>
            Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/invoice">
            <mat-icon>receipt</mat-icon>
            Invoices
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/medication">
            <mat-icon>local_pharmacy</mat-icon>
            Medications
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prescription">
            <mat-icon>description</mat-icon>
            Prescriptions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inventory">
            <mat-icon>storage</mat-icon>
            Inventory
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">
            <mat-icon>person</mat-icon>
            Users
          </a>
        </li>
        <form class="d-flex" (submit)="searchUsers()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchKeyword" name="searchKeyword" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!-- Display search results -->
        <ul class="list-group mt-2" *ngIf="searchResults.length > 0">
          <li class="list-group-item" *ngFor="let result of searchResults">
            {{ result.firstName }} {{ result.lastName }} {{ result.email }}
             {{ result.address }} {{ result.phone }} {{ result.middleName }} 
          </li>
        </ul>
      </ul>
      <ul class="navbar-nav ms-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img [src]="profileImageUrl" alt="Profile Image" class="profile-image" *ngIf="profileImageUrl" />
            Welcome, {{ user?.firstName | uppercase }} {{ user?.lastName | uppercase }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="'/user-profile'">
                <mat-icon>account_circle</mat-icon>
                Account
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
                Log Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
