.dialog-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #1e90ff; /* DodgerBlue */
}

.title{
  font-size: 2em;
  font-weight: bold;
  color: #2e8b57; /* SeaGreen */
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.title{
  font-size: 2em;
  font-weight: bold;
  color: #2e8b57; /* SeaGreen */
  margin-bottom: 20px;
}

mat-form-field {
  .mat-form-field-wrapper {
      padding-bottom: 5px;
  }

  input {
      font-size: 1em;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #1e90ff; /* DodgerBlue */
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
      background-color: #0066cc; /* MediumSlateBlue */
  }

  &:disabled {
      background-color: #b0c4de; /* LightSteelBlue */
      cursor: not-allowed;
  }
}
