<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="container">

            <div class="footer-links">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </div>      
            <!-- Social Media Icons -->
            <div class="social-icons">
              <a href="https://twitter.com/ThabisoMatsaba" target="_blank" title="Twitter">
                <i class='bx bxl-twitter'></i>
              </a>
              <a href="https://www.facebook.com/shaunmatsaba" target="_blank" title="Facebook">
                <i class='bx bxl-facebook'></i>
              </a>
              <a href="https://www.linkedin.com/in/thabiso-matsaba-b4289616b" target="_blank" title="LinkedIn">
                <i class='bx bxl-linkedin'></i>
              </a>
              <a href="https://github.com/220296006" target="_blank" title="GitHub">
                <i class='bx bxl-github'></i>
              </a>
              <a href="https://www.instagram.com/shaun_matsaba" target="_blank" title="Instagram">
                <i class='bx bxl-instagram'></i>
              </a>
            </div>
          </div>
          <div class="footer-content">
            <div class="footer-content">
              <p>PharmacyApp (Pty) Ltd. All Rights Reserved. © Copyright 2024</p>
        </div>
      </div>
      </footer>
</body>
</html>