<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>41578 Ndyondyo Street</p>
        <p>Cape Town, Khayelistha, South Africa</p>
        <p>Phone: 0836965724</p>
        <p>Email: thabisomatsaba96@gmail.com</p>
      </div>
      <div class="col-md-4">
        <h5>Opening Hours</h5>
        <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
        <p>Saturday: 10:00 AM - 4:00 PM</p>
        <p>Sunday: Closed</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <p>Stay connected with us on social media:</p>
        <ul class="social-icons">

          <a href="https://twitter.com/ThabisoMatsaba" target="_blank" title="Twitter">
            <i class='bx bxl-twitter'></i>
          </a>
          <a href="https://www.facebook.com/shaunmatsaba" target="_blank" title="Facebook">
            <i class='bx bxl-facebook'></i>
          </a>
          <a href="https://www.linkedin.com/in/thabiso-matsaba-b4289616b" target="_blank" title="LinkedIn">
            <i class='bx bxl-linkedin'></i>
          </a>
          <a href="https://github.com/220296006" target="_blank" title="GitHub">
            <i class='bx bxl-github'></i>
          </a>
          <a href="https://www.instagram.com/shaun_matsaba" target="_blank" title="Instagram">
            <i class='bx bxl-instagram'></i>
          </a>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2024 PharmacyApp. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>

<!-- footer.component.html -->

