<h2 mat-dialog-title class="title">Update Medication</h2>
<div mat-dialog-content>
  <form #updateForm="ngForm">

    <!-- Id Field (readonly) -->
    <mat-form-field class="full-width" hidden="true">
      <input matInput name="id" placeholder="ID" [ngModel]="medication?.id" />
    </mat-form-field>

    <!-- Name Field -->
    <mat-form-field class="full-width">
      <input matInput name="name" placeholder="Name" [ngModel]="medication?.name"
        (ngModelChange)="medication.name = $event" required />
    </mat-form-field>

    <!-- Dosage Field -->
    <mat-form-field class="full-width">
      <input matInput name="dosage" placeholder="Dosage" [ngModel]="medication?.dosage"
        (ngModelChange)="medication.dosage = $event" />
    </mat-form-field>
   
    <!-- Frequency Field -->
    <mat-form-field class="full-width">
        <input matInput name="frequency" placeholder="Frequency" [ngModel]="medication?.frequency"
          (ngModelChange)="medication.frequency = $event" />
      </mat-form-field>
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary" [disabled]="updateForm.invalid" (click)="onUpdateClick()">Update</button>
</div>
